#app {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.empty-layout{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    padding-top:5rem;
    height:100vh;
}

/* .wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
} */

/* .container{
    max-width: 2000px;
} */

nav{
    height: 100px;
}

.logo {
    margin-top: 0.3em;
    width: 145px;
} 

.btn-large.waves-effect.waves-light { 
    border-radius: 15px; 
}
.btn-large.waves-effect.waves-light.btn-in-nav{
    margin-top: 1.5em;
}

.background-in-test-menu{
    background-image: url(~@/img/frame.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 950px;
  }

.btn-large.waves-effect.waves-light.btn-in-test-menu { 
   margin-top: 31.2%;
   margin-left: 59%;
   width: 15%;
   height: 7.5%;
   font-size: 170%;
   padding-top: 0.5%;
}