<template>
    <Header />
    <main class="page">
        <div>
            <router-view />
        </div>
    </main>
</template>

<script>
import Header from '@/components/Header'
import Logo from '@/components/Logo'

export default {
    name: 'main-layout',
    components: {
        Header,
        Logo
    }
}
</script>