<template>
    <nav class="light-blue lighten-1">
        <div class="nav-wrapper">
            <router-link to="/" class="brand-logo center logo"><img src="@/img/logo.png" class="logo"> </router-link>
            <ul class="left hide-on-med-and-down">
                <li>
                        <router-link to="/login" class="waves-effect waves-light btn-large red darken-1 btn-in-nav">
                            <i class="small material-icons left"> perm_identity </i>
                            <b>Войти</b>  
                        </router-link>
                </li>
                <li>
                        <router-link to="/events" class="waves-effect waves-light btn-large light-blue darken-1 btn-in-nav" >
                            <b>Мероприятия</b>
                        </router-link>
                </li>
                <li>
                        <router-link to="/trajectory" class="waves-effect waves-light btn-large light-blue darken-1 btn-in-nav">
                            <b>Все Траектории</b>
                        </router-link>
                </li>    
            </ul>
            
        </div>
    </nav>
    
</template>

