<template>
     <div class="row">
         <div class="col s5">
        </div>
        <div class="col s2">
            <router-link to="/" class="brand-logo"><img src="@/img/logo.png" class="logo"> </router-link>
        </div>
        <div class="col s5">
            
        </div>
     </div>
</template>

<style scoped>

</style>