<template>
    <div class="background-in-test-menu">
            <router-link to="/" class="waves-effect waves-light btn-large red darken-3 btn-in-test-menu">
                            <b>ПРОЙТИ ТЕСТ</b>  
            </router-link>
    </div>
</template>
